config ARCH_RTD119X
	bool "Realtek RTD119x family"
	depends on ARCH_MULTI_V7
	select ARM_AMBA
	select CLKDEV_LOOKUP
	select CPU_V7
	select HAVE_SMP
	select HAVE_MACH_CLKDEV
	select GENERIC_CLOCKEVENTS
	select NEED_MACH_MEMORY_H
	select ZONE_DMA
	select HAVE_SCHED_CLOCK
	select ARCH_HAS_CPUFREQ
	select CLKSRC_OF
	select ARCH_REQUIRE_GPIOLIB
	select GENERIC_IRQ_CHIP
	select IRQ_DOMAIN
	select PINCTRL
	select COMMON_CLK
	select ARCH_HAS_BARRIERS
	select SPARSE_IRQ
	select RTK_PLATFORM
	select PM_OPP
	help
	  Support for Realtek RTD119x family.