config RTK_THERMAL
	bool "Realtek thermal management"
	depends on OF && THERMAL_OF
	help
	  Enable thermal management with a generic thermal
	  sensor driver on Realtek SoCs.

	  If you want this support, you should say Y here.

config RTK_THERMAL_EOH
	bool "Realtek thermal sensor EOH"
	depends on RTK_THERMAL

config RTK_THERMAL_RTD119X
	bool "RTD-119X thermal sensor support"
	depends on ARCH_RTD119X
	default y
	select RTK_THERMAL

config RTK_THERMAL_RTD129X
	bool "RTD-129x thermal sensor support"
	depends on ARCH_RTD129x
	default y
	select RTK_THERMAL

config RTK_THERMAL_RTD139X
	bool "RTD-139x thermal sensor support"
	depends on ARCH_RTD139x
	default y
	select RTK_THERMAL

config RTK_THERMAL_RTD16XX
	bool "RTD-16XX thermal sensor support"
	depends on ARCH_RTD16xx
	default y
	select RTK_THERMAL

config RTK_THERMAL_RTD13XX
	bool "RTD-13XX thermal sensor support"
	depends on ARCH_RTD13xx
	default y
	select RTK_THERMAL
