config RTK_THERMAL
	bool "Realtek thermal management"
	depends on OF && THERMAL_OF
	help
	  Enable thermal management with a generic thermal
	  sensor driver on Realtek SoCs.

	  If you want this support, you should say Y here.

config RTK_THERMAL_RTD119X
	bool "RTD-119X thermal sensor support"
	default y if ARCH_RTD119X
	select RTK_THERMAL

config RTK_THERMAL_RTD129X
	bool "RTD-129x thermal sensor support"
	default y if ARCH_RTD129x
	select RTK_THERMAL

config RTK_THERMAL_RTD139X
	bool "RTD-139x thermal sensor support"
	default y if ARCH_RTD139x
	select RTK_THERMAL

config RTK_THERMAL_RTD16XX
	bool "RTD-16XX thermal sensor support"
	default y if ARCH_RTD16xx
	select RTK_THERMAL
