menu "Power Control"

config POWER_CONTROL
	bool "Power Control Support"

config POWER_CONTROL_DEBUGFS
	bool "DebugFs for Power Control"
	depends on POWER_CONTROL
	default y if POWER_CONTROL

config POWER_CONTROL_REALTEK
	bool

config POWER_CONTROL_PD_SRAM
	bool

config POWER_CONTROL_PD_SRAM_CH
	bool

config POWER_CONTROL_PD_SIMPLE
	bool

config POWER_CONTROL_RTD129X
	bool "RTD129X SoC Power Controller"
	depends on POWER_CONTROL
	depends on ARCH_RTD129x
	select PM_GENERIC_DOMAINS
	select POWER_CONTROL_REALTEK
	select POWER_CONTROL_PD_SRAM
	select POWER_CONTROL_PD_SRAM_CH
	select POWER_CONTROL_PD_SIMPLE
	default y
	help
	  Realtek RTD129x Soc Power Controller Driver.

config POWER_CONTROL_RTD139X
	bool "RTD139X SoC Power Controller"
	depends on POWER_CONTROL
	depends on ARCH_RTD139x
	select PM_GENERIC_DOMAINS
	select POWER_CONTROL_REALTEK
	select POWER_CONTROL_PD_SRAM
	select POWER_CONTROL_PD_SIMPLE
	default y
	help
	  Realtek RTD139x Soc Power Controller Driver.

config POWER_CONTROL_RTD16XX
	bool "RTD16XX SoC Power Controller"
	depends on POWER_CONTROL
	depends on ARCH_RTD16xx
	select PM_GENERIC_DOMAINS
	select POWER_CONTROL_REALTEK
	select POWER_CONTROL_PD_SRAM
	select POWER_CONTROL_PD_SIMPLE
	default y
	help
	  Realtek RTD16xx Soc Power Controller Driver.

config POWER_CONTROL_RTD13XX
	bool "RTD13XX SoC Power Controller"
	depends on POWER_CONTROL
	depends on ARCH_RTD13xx
	select PM_GENERIC_DOMAINS
	select POWER_CONTROL_REALTEK
	select POWER_CONTROL_PD_SRAM
	select POWER_CONTROL_PD_SIMPLE
	default y
	help
	  Realtek RTD13xx Soc Power Controller Driver.

endmenu
