#**********************************************************************************************************                                                         
# enable SB2 & RBUS clock gating
#**********************************************************************************************************                                                         
w 0x9801a308,0xffffffff
w 0x9801a30c,0x0000ffff
w 0x9801a310,0x0000000f
w 0x9801a020,0x00000000
m 0x9801d000,0xffffffff,0xff000000
m 0x9801d100,0xffffffff,0x80000000
w 0x9801a020,0x00000000

#**********************************************************************************************************                                                         
# CRT Configuration
#**********************************************************************************************************                                                         
w 0x98000018,0x7					# use 27MHz as clock source

# SCPU PLL Setting 
#----------------------------------------------------------------------------------------------------------
w 0x98000500,0x8					# turn off OC_EN_SCPU & RSTB
w 0x98000504,0x1104B				# 1GHz
w 0x98000500,0xD					# turn on OC_EN_SCPU & release RSTB

# BUS PLL Setting 
#----------------------------------------------------------------------------------------------------------
w 0x98000520,0x8					# turn off OC_EN_BUS & RSTB
w 0x98000524,0x33DA					# 256MHz
w 0x98000520,0xD					# turn on OC_EN_BUS & release RSTB

# BUS_H PLL Setting 
#----------------------------------------------------------------------------------------------------------
w 0x98000540,0x8					# turn off OC_EN_BUS_H & RSTB
w 0x98000544,0x7000					# 459MHz(Default)
w 0x98000540,0xD					# turn on OC_EN_BUS_H & release RSTB

# ACPU PLL Setting 
#----------------------------------------------------------------------------------------------------------                                                         
w 0x980005C4,0x8AF6					# 550MHz(Default)
w 0x98000110,0x7					# power on ACPU PLL & release RSTB
w 0x980005C0,0xD					# turn on OC_EN_ACPU & release RSTB

# DDSA PLL Setting 
#----------------------------------------------------------------------------------------------------------                                                         
w 0x98000564,0x6800					# 432MHz(Default)
w 0x98000128,0x7					# power on DDSA PLL & release RSTB
w 0x98000560,0xD					# turn on OC_EN_DDSA & release RSTB

# DDSB PLL Setting 
#----------------------------------------------------------------------------------------------------------                                                         
w 0x98000584,0x6800					# 432MHz(Default)
w 0x98000178,0x7					# power on DDSB PLL & release RSTB
w 0x98000580,0xD					# turn on OC_EN_DDSB & release RSTB

# PSAUD1A/PSAUD2A PLL Setting 
#----------------------------------------------------------------------------------------------------------                                                         
w 0x98000130,0x6B9					# 49.152MHz(Default) & enable PS_EN
w 0x98000134,0xF					# release RSTB

# PSAUD1B/PSAUD2B PLL Setting 
#----------------------------------------------------------------------------------------------------------                                                         
w 0x98000188,0x6B9					# 49.152MHz(Default) & enable PS_EN
w 0x9800018C,0xF					# release RSTB

# PLL Output Enable Setting 
#----------------------------------------------------------------------------------------------------------                                                         
n 1000								# wait for PLL stable
w 0x98000110,0x3					# enable ACPU PLL OEB
w 0x98000128,0x3					# enable DDSA PLL OEB
w 0x98000178,0x3					# enable DDSB PLL OEB
w 0x98000134,0x5					# enable PSAUD1A/PSAUD2A PLL OEB
w 0x9800018C,0x5					# enable PSAUD1B/PSAUD2B PLL OEB

# Clock Source & Divider Setting 
#----------------------------------------------------------------------------------------------------------
w 0x98000030,0x0					# select PLL divider for SCPU/ACPU/BUS PLL
w 0x98000018,0x0					# select clock sources for clk_scpu/clk_sys/clk_sysh
w 0x9800004C,0x1C					# select clock sources for clk_ve1/clk_ve2/clk_ve3/clk_ve2_bpu

# Reset & Clock Enable Setting 
#----------------------------------------------------------------------------------------------------------                                                         
w 0x9800000C,0x13DC0061				# enable CLOCK_ENABLE1
w 0x98000010,0xD801E406				# enable CLOCK_ENABLE2
w 0x98000014,0x0					# enable GROUP_CK_EN
w 0x98000000,0xA7800001				# release SOFT_RESET1
w 0x98000004,0x1F840E01				# release SOFT_RESET2
w 0x98000050,0x0					# release SOFT_RESET4


#**********************************************************************************************************                                                         
# ISO Configuration
#**********************************************************************************************************                                                                                                                 
w 0x98007F08,0xF					# turn on DDR IO pad
w 0x980076C4,0x1					# turn on watchdog reset OE
w 0x98007078,0x80     		        # ROM code jump to AARCH64 (jumper)
w 0x98007100,0x2 					# set type c power gpio output
w 0x98007104,0x0 					# set type c power gpio low

#**********************************************************************************************************                                                         
# SB2 Configuration 
#**********************************************************************************************************  
w 0x9801A808,0x13					# NOR flash access


#**********************************************************************************************************                                                         
# DC_SYS Configuration 
#**********************************************************************************************************                                                         
w 0x98008004,0x1C00F10				# DC_SYS_MISC
w 0x98008740,0x0					# DC_SECURE_MISC


#**********************************************************************************************************                                                         
# DPI_CRT Configuration                                                                                                                  
#**********************************************************************************************************                                                         
                                                                                                                                         
# PLL LDO Enable Setting                                                                                                                 
#----------------------------------------------------------------------------------------------------------                                                         
w 0x98000050,0x9                                                                                                             
                                                                                                                                         
# PLL Setting 800                                                                                                                        
#----------------------------------------------------------------------------------------------------------                                                         
w 0x9800E018,0x10505254                                                                                                      
w 0x9800E00c,0x0000000f                                                                                                      
w 0x9800E024,0x06850426                                                                                                      
w 0x9800E028,0x00000B0B                                                                                                      
w 0x9800e07c,0x00000002                                                                                                      
                                                                                                                                         
# PLL & DPI Enable Setting                                                                                                               
#----------------------------------------------------------------------------------------------------------                                                         
w 0x98000050,0xffffff1F                                                                                                      
w 0x9800E028,0x04000B0B                                                                                                      
w 0x9800E028,0x00000B0B                                                                                                      
w 0x9800E01C,0x00000008                                                                                                      
n 1000                                                                                                                             
                                                                                                                                         
# PLL PI Setting                                                                                                                         
#----------------------------------------------------------------------------------------------------------                                                         
w 0x9800E014,0x00080000                                                                                                      
w 0x9800E098,0x00080808                                                                                                      
                                                                                                                                         
# ADDLL Setting                                                                                                                          
#----------------------------------------------------------------------------------------------------------                                                         
w 0x9800E05C,0x01078000                                                                                                      
w 0x9800E060,0x01078000                                                                                                      
w 0x9800E064,0x01078000                                                                                                      
w 0x9800E068,0x01078000                                                                                                      
w 0x9800E06C,0x020F0202                                                                                                      
w 0x9800E070,0x020F0202                                                                                                      
w 0x9800E074,0x020F0202                                                                                                      
w 0x9800E078,0x020F0202                                                                                                      
w 0x9800E090,0x00000020                                                                                                      
                                                                                                                                         
# DCC Setting                                                                                                                            
#----------------------------------------------------------------------------------------------------------                                                         
w 0x9800E030,0x13052807                                                                                                      
w 0x9800E034,0x13052807                                                                                                      
w 0x9800E038,0x13052807                                                                                                      
w 0x9800E03C,0x13052807                                                                                                      
w 0x9800E040,0x13052807                                                                                                      
w 0x9800E044,0x13052807                                                                                                      
w 0x9800E048,0x13052807                                                                                                      
w 0x9800E04C,0x13052807                                                                                                      
w 0x9800E050,0x13052807                                                                                                      
w 0x9800E054,0x13052807                                                                                                      
w 0x9800E058,0x13052807                                                                                                      
w 0x9800E0A4,0x13052807                                                                                                      
                                                                                                                                         
# DPI Setting                                                                                                                            
#----------------------------------------------------------------------------------------------------------                                                         
w 0x9800E000,0x80000031                                                                                                      
w 0x9800E080,0x33333333                                                                                                      
                                                                                                                                         
# Clock Turn-on Setting                                                                                                                  
#----------------------------------------------------------------------------------------------------------                                                         
w 0x9800E004,0x0ffF0ffF                                                                                                      
w 0x9800E008,0x00070000                                                                                                      
                                                                                                                                         
# ZQ cal                                                                                                                                 
#----------------------------------------------------------------------------------------------------------                                                         
w 0x9800e21c,0x0c080000                                                                                                      
w 0x9800e2fc,0x59580000                                                                                                      
w 0x9800e318,0x00000002                                                                                                      
w 0x9800e31c,0x00000003                                                                                                      
w 0x9800e2cc,0x0028763b                                                                                                      
w 0x9800e21c,0x0d080000                                                                                                      
n 1000                                                                                                                               
w 0x9800e21c,0x0c080000                                                                                                      
                                                                                                                                         
w 0x9800e21c,0x1c080000                                                                                                      
w 0x9800e2fc,0x59580000                                                                                                      
w 0x9800e318,0x00000002                                                                                                      
w 0x9800e31c,0x00000003                                                                                                      
w 0x9800e2cc,0x0020763b                                                                                                      
w 0x9800e21c,0x1d080000                                                                                                      
n 1000                                                                                                                               
w 0x9800e21c,0x1c080000                                                                                                      
                                                                                                                                         
w 0x9800e2d8,0x00110011                                                                                                      
w 0x9800e2dc,0x11001100                                                                                                      
                   
                                                                                                                                         
#**********************************************************************************************************                                                         
# DPI_DLL Configuration                                                                                                                  
#**********************************************************************************************************                                                         
w 0x9800E52C,0x00c00008                                                                                                      
w 0x9800E530,0x00c00008                                                                                                      
w 0x9800E534,0x00c00008                                                                                                      
w 0x9800E538,0x00c00008                                                                                                      
w 0x9800E254,0x00000403                                                                                                      
                                                                                                                                         
w 0x9800E244,0x00000003                                                                                                      
w 0x9800E248,0x00000003                                                                                                      
w 0x9800E24C,0x00000003                                                                                                      
w 0x9800E250,0x00000003                                                                                                      
                                                                                                                                         
w 0x9800E318,0x080f204a                                                                                                      
w 0x9800E31C,0x0000000C                                                                                                      
w 0x9800E318,0x080f2048                                                                                                      
    
	
#**********************************************************************************************************                                                         
# RXI310 Configuration                                                                                                                   
#**********************************************************************************************************                                                         
w 0x9800E800,0x00000100                                                                                                      
w 0x9800EA24,0x00000064                                                                                                      
w 0x9800E804,0x00000213                                                                                                      
w 0x9800E808,0x00202218                                                                                                      
w 0x9800E810,0x0932c835                                                                                                      
w 0x9800E814,0x00008ac5                                                                                                      
w 0x9800E818,0x0f8b1d16                                                                                                      
w 0x9800E81C,0x965dc882                                                                                                      
w 0x9800E830,0x000000a4                                                                                                      
w 0x9800E834,0x00000a50                                                                                                      
w 0x9800E838,0x00000006                                                                                                      
w 0x9800E83C,0x00000010                                                                                                      
w 0x9800E80C,0x00000700                                                                                                      
w 0x9800E800,0x00000001                                                                                                      
n 1000                                                                                                                           
w 0x9800E80C,0x00000600                                                                                                      
w 0x9800E82C,0x00000007                                                                                                      
w 0x9800E800,0x00000008 


#**********************************************************************************************************                                                         
# CPU Configuration
#**********************************************************************************************************
w 0xFF018000,0x00000001         	# Turn on CPU timer
